.contenedor {
    position: relative;
    text-align: center;
  }
  
  .imagen {
    max-width: 200px;
    height: auto;
  }
  
 
.comprar-boton {
    display: block;
    width: 50%;
    margin: 10px auto 0;
    background-color: yellow;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  