.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titulo {
    width: 100%;
    margin: 20px;
    padding: 10px;
}

.piedepagina {
    height: auto;
    margin: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}


.tarjetas img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Copy {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
